/* General styles */
body {
  background-color: #202124;
  color: #e8eaed;
  font-family: "Arial", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px rgba(227, 228, 237, 0.37);
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.075);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.others {
  justify-content: space-between;
  display: flex;
}

.logo {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  margin-left: 10px;
  background-color: #2e5bad7e;
  padding-right: 15px;
  padding-left: 15px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10% 10% 10% 10%/ 10% 10% 10% 10%;
}

.home-b, .about-b {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 1.2rem;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px rgba(227, 228, 237, 0.37);
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
}

.container .head {
  justify-content: space-between;
  background-color: rgba(127, 255, 212, 0.199);
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container .head nav {
  margin-left: 70%;
  font-size: 20px;
}

.container .head nav a {
  color: white;
  margin: 0px 15px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.container .head nav a:hover {
  transform: scale(0.9);
}

/* Container */
.container {
  text-align: center;
}

.container .nersh-bruce {
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px rgba(227, 228, 237, 0.37);
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #201f1f8e;
}

/* Header (Brand) */
header h1 {
  font-size: 60px;
  font-weight: bold;
  color: #34a853;
}

/* Search box styling */
.search-container {
  margin-top: 20px;
  position: relative;
  display: flex;
}

.search-box {
  width: 400px;
  height: 40px;
  padding: 10px;
  font-size: 25px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  outline: none;
  font-weight: 700;
  background-color: rgba(245, 245, 245, 0.589);
}

.search-button {
  height: 40px;
  padding: 10px;
  font-size: 25px;
  border-radius: 0px 20px 20px 0px;
  border: none;
  outline: none;
  background-color: rgba(245, 245, 245, 0.589);
}

.search-button:hover {
  background-color: #5f6368;
}

/* Suggestions list */
.suggestions-list {
  font-weight: 600;
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #4a537044;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  z-index: 1;
  display: none;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.suggestions-list li:hover {
  background-color: #326c9969;
  box-shadow: 2px ;
}


/* Responsiveness */
@media (max-width: 768px) {
  .search-box,
  .suggestions-list {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .search-box {
    width: 200px;
  }

  header h1 {
    font-size: 48px;
  }
}
