/* General styles */
body {
  background-color: #202124;
  color: #e8eaed;
  font-family: "Arial", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container .head {
  background-color: rgba(127, 255, 212, 0.199);
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container .head nav {
  margin-left: 70%;
  font-size: 20px;
}

.container .head nav a {
  color: white;
  margin: 0px 15px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.container .head nav a:hover {
  transform: scale(0.9);
}

/* Container */
.container {
  text-align: center;
}

.container .nersh-bruce {
  background-color: rgba(72, 71, 97, 0.637);
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #201f1f;
}

/* Header (Brand) */
header h1 {
  font-size: 60px;
  font-weight: bold;
  color: #34a853;
}

/* Search box styling */
.search-container {
  margin-top: 20px;
  position: relative;
  display: flex;
}

.search-box {
  width: 400px;
  height: 40px;
  padding: 10px;
  font-size: 25px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  background-color: rgba(245, 245, 245, 0.589);
}

.search-button {
  background-color: #1a73e8;
  color: #e8eaed;
  border: none;
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #5f6368;
}

/* Suggestions list */
.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #303134;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  z-index: 1;
  display: none;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #3c4043;
}

/* Footer styling */
footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

footer a {
  color: white;
}

footer a:hover {
  text-transform: lowercase;
}

footer p {
  margin-top: 30px;
  color: #9aa0a6;
}

/* Responsiveness */
@media (max-width: 768px) {
  .search-box,
  .suggestions-list {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .search-box {
    width: 200px;
  }

  header h1 {
    font-size: 48px;
  }
}